.container {
    width: 62vw;
    margin: 3.5em auto;
    display: flex;
    gap: 16px;
}

.container div {
    flex-grow: 2;
}

.lista-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
}