:root {
  --verde-destaque: #81FE88;
  --fonte: 'Prompt', sans-serif;
  --verde-petroleo: #132E35;
  --grafite: #01080E;
  --cinza-escuro: #171D1F;
  --cinza-medio: #888888;
  --cinza: #3E3E3F;
  --cinza-claro: #BCBCBC;
  --offwhite: #E1E1E1;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grafite);
  font-family: var(--fonte);
}